html{
    background: linear-gradient(#e66465, #9198e5);
    background-attachment: fixed;
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    padding-left: 35%;
    padding-top: 5%;
}

#todo-container{
    position: absolute;
    width: 30%;
    height: 70%;
    background-color: white;
    border-radius: 1%;
    font-family: 'Tahoma';
    padding: 1%;
}


#todo-container h1{
    text-align: center;
    display: block;
}

#todo-container input{
    width: 75%;
    height: 10%;
    min-height: 20px;
    border: #b8b8bf solid 2px;
    border-radius: 2%;
    font-size: 30px;
    padding: 5px;
    color: #000;
    margin-bottom: 20px;
}

#add-item-button{
    margin-left: 5%;
    position: absolute;
    width: 14%;
    height: 11.5%;
    border: transparent;
    background-color: #a765e6;
    border-radius: 5%;
}

#add-item-button:hover{
    border: #a765e6 5px solid;
    background-color: #b17ae6;
    cursor: pointer;
}

#add-item-button img{
    width: 75%;
    height: 75%
}

#item-container{
    width: 100%;
    height: 75px;
    line-height: 75px;
    background-color: #f0f0ed;
    margin-bottom: 10px;
    padding-left: 10px;
    border-radius: 2%;
    font-size: 30px;
}